body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header,
footer {
    padding: 15px;
    background-color: purple;
    color: #fff
}

header.flex {
    justify-content: space-between;
}

header form {
    width: 150px;
    padding: 15px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.text-center {
    text-align: center;
}

form {
    width: 500px;
}

form input {
    width: 100%;
    padding: 15px;
}

#connexion {
    padding: 15px;
}

#presentation {
    padding: 15px;
    background-color: #999999;
    color: #000;
}

#presentation>.flex>div {
    flex: 0 1 50%
}

#presentation .cadre {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

#description {
    padding: 15px;
    background-color: #fff;
    color: #000;
}